{% extends 'base.html' %} {% block title %}Blog | Keysavvy{% endblock %}
<!-- gap -->
{% block content %}
<section class="text-white py-3" style="{{header_color}}">
	<div class="container py-5">
		<h1
			class="display-3 mb-3 title text-shadow-none"
			style="font-weight: 400"
		>
			Buy or Sell<br />
			<span class="text-warning">Savvy</span>
		</h1>
	</div>
</section>
<section class="blog-section">
	<div class="container py-5">
		<p class="mb-4">
			Our mission is to help people buy and sell cars. Read articles
			written by our experts on private party sales to learn the latest
			tips, tricks, and tools.
		</p>

		<!-- First Row -->
		<div class="row">
			<div class="col-md-6">
				<h5>Why we built KeySavvy</h5>
				<hr />
				<ul class="list-unstyled">
					<li>
						<a href="https://www.keysavvy.com/blog/found-on-reddit-car-scams" class="text-decoration-underline"
							>Found on Reddit: This Is Why We Built KeySavvy</a
						>
					</li>
					<li>
						<a href="https://www.keysavvy.com/blog/is-it-better-to-trade-in-or-sell-my-car" class="text-decoration-underline"
							>Is It Better to Trade In or Sell Yourself?</a
						>
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<h5>General</h5>
				<hr />
				<ul class="list-unstyled">
					<li>
						<a href="https://www.keysavvy.com/blog/find-my-vin" class="text-decoration-underline"
							>Clever Places to Find Your VIN</a
						>
					</li>
					<li>
						<a href="https://www.keysavvy.com/blog/is-my-vin-and-license-plate-private-data" class="text-decoration-underline"
							>Is It Safe to Share Your VIN and License Plate?</a
						>
					</li>
				</ul>
			</div>
		</div>
		<h2 class="my-4">Buying</h2>
		<!-- Second Row -->
		<div class="row">
			<div class="col-md-6">
				<h5>How to buy private party</h5>
				<hr />
				<ul class="list-unstyled">
					<li>
						<a href="https://www.keysavvy.com/blog/how-to-safely-buy-a-car-from-a-private-seller" class="text-decoration-underline"
							>How To Buy a Car on Facebook Without Getting
							Scammed</a
						>
					</li>
					<li>
						<a href="https://www.keysavvy.com/blog/5-tips-for-first-time-private-party-car-buyers" class="text-decoration-underline"
							>Buying Private Party: 5 Tips for First-Timers</a
						>
					</li>
					<li>
						<a href="https://www.keysavvy.com/blog/should-you-buy-an-inspection-before-buying-a-used-car" class="text-decoration-underline"
							>Should You Get an Inspection Before Buying a Used
							Car?</a
						>
					</li>
					<li>
						<a href="https://www.keysavvy.com/blog/how-to-make-an-offer-your-seller-cant-disagree-with" class="text-decoration-underline"
							>How to Make an Offer Your Seller Can't Disagree
							With</a
						>
					</li>
					<li>
						<a href="https://www.keysavvy.com/blog/how-to-pay-out-of-state-private-seller" class="text-decoration-underline"
							>How to Pay an Out of State Seller</a
						>
					</li>
					<li>
						<a href="https://www.keysavvy.com/blog/how-to-safely-buy-a-car-with-lien" class="text-decoration-underline"
							>How to Safely Buy a Car With a Lien</a
						>
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<h5>Used EV Tax Credit</h5>
				<hr />
				<ul class="list-unstyled">
					<li>
						<a href="https://www.keysavvy.com/blog/used-ev-tax-credit-first-transfer-rule" class="text-decoration-underline"
							>What Is the "First Transfer" Rule?</a
						>
					</li>
				</ul>
			</div>
		</div>
		<h2 class="my-4">Selling</h2>
		<!-- Third Row -->
		<div class="row">
			<div class="col-md-6">
				<h5>How to sell private party</h5>
				<hr />
				<ul class="list-unstyled">
					<li>
						<a href="https://www.keysavvy.com/blog/how-to-safely-sell-a-car-privately" class="text-decoration-underline"
							>How to Safely Sell a Car Privately</a
						>
					</li>
					<li>
						<a href="https://www.keysavvy.com/blog/how-to-sell-a-car-without-getting-scammed" class="text-decoration-underline"
							>How to Sell a Car on Facebook Without Getting
							Scammed</a
						>
					</li>
					<li>
						<a href="https://www.keysavvy.com/blog/what-to-do-after-selling-a-car" class="text-decoration-underline"
							>What to Do After Selling a Car</a
						>
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<h5>Listing your car for sale</h5>
				<hr />
				<ul class="list-unstyled">
					<li>
						<a href="https://www.keysavvy.com/blog/where-to-list-your-car-for-sale" class="text-decoration-underline"
							>Where to List Your Car for Sale</a
						>
					</li>
					<li>
						<a href="https://www.keysavvy.com/blog/used-car-sale-description-example-and-template" class="text-decoration-underline"
							>How to Make Your Ad Stand Out</a
						>
					</li>
				</ul>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-md-6">
				<h5>Selling with a loan</h5>
				<hr />
				<ul class="list-unstyled">
					<li>
						<a href="https://www.keysavvy.com/blog/how-to-sell-a-car-with-a-loan" class="text-decoration-underline"
							>How to Sell Your Car With a Loan</a
						>
					</li>
					<li>
						<a href="https://www.keysavvy.com/blog/how-to-sell-a-car-with-negative-equity" class="text-decoration-underline"
							>How to Sell a Car With Negative Equity</a
						>
					</li>
					<li>
						<a href="https://www.keysavvy.com/blog/take-over-car-loan-payments" class="text-decoration-underline"
							>Can Someone Take Over My Car Payments?</a
						>
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<h5>Accepting payment</h5>
				<hr />
				<ul class="list-unstyled">
					<li>
						<a href="https://www.keysavvy.com/blog/best-way-to-accept-payment-for-car" class="text-decoration-underline"
							>Best Way to Accept Payment for a Car</a
						>
					</li>
					<li>
						<a href="https://www.keysavvy.com/blog/are-cashiers-checks-safe-when-selling-a-car" class="text-decoration-underline"
							>Should I Accept a Cashier's Check?</a
						>
					</li>
					<li>
						<a href="https://www.keysavvy.com/blog/is-cash-safe-when-selling-a-car" class="text-decoration-underline"
							>Should I Accept Cash?</a
						>
					</li>
					<li>
						<a href="https://www.keysavvy.com/blog/is-paypal-safe-when-selling-a-car" class="text-decoration-underline"
							>Should I Accept PayPal?</a
						>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section
	class="questions-section py-5 text-white"
	style="background-color: #1a5063"
>
	<div class="container">
		<h2 class="fs-1 mb-3">Buy and sell cars worry-free</h2>
		<p class="mb-4">
			KeySavvy makes it safer and easier to buy and sell cars on any
			marketplace.
		</p>
		<a href="#" class="btn btn-outline-warning btn-lg">LEARN MORE</a>
	</div>
</section>
{% endblock %}
