{% extends 'base.html' %} {% block title %}Buy | Keysavvy{% endblock %}
<!-- gap -->
{% block content %}

<section class="py-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <h2 class="mb-3">Hi, {{user.first_name}} {{user.last_name}}</h2>
            <div class="card shadow-sm">
                <div class="p-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="m-0">{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}</h5>
                        <div class="text-decoration-underline">{{ vehicle.formatted_price }}</div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="m-0">{{vehicle.serial_number}}</h6>
                        <div class="text-decoration-underline">Temp permit</div>
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq py-5">
	<div class="container">
		<h2 class="text-center mb-4">Frequently Asked Questions</h2>
		{% include "components/faqs.html" with comp_faq_data=faq_data comp_faq_number="1" %}
	</div>
</section>
{% endblock %}
