{% extends "base.html" %} {% block content %}
<section class="py-5">
	<div class="container">
		<form method="post" enctype="multipart/form-data">
		{% csrf_token %} 
		{% if form.errors %}
			<div class="alert alert-danger">
				<ul>
					{% for field, errors in form.errors.items %} {% for error in errors %}
					<li>{{field}}: {{ error }}</li>
					{% endfor %} {% endfor %}
				</ul>
			</div>
		{% endif %}
		<h1>Account</h1>
		<p>Looking for cars you're buying or selling? Go to your Dashboard.</p>
		<div class="card p-3 shadow-sm mb-4">
			<h4>Email</h4>
			<p>
				{{user.email}} <i class="fa-solid fa-shield text-success"></i>
			</p>
		</div>
		<div class="card p-3 shadow-sm mb-4">
			<h4>Name</h4>
			<div class="row">
				<div class="col-md-6 mb-3">
					<label for="id_first_name">First Name:</label>
					{{ form.first_name }}
				</div>
				<div class="col-md-6 mb-3">
					<label for="id_last_name">Last Name:</label>
					{{ form.last_name }}
				</div>
			</div>
		</div>
		<div class="card p-3 shadow-sm mb-4">
			<h4>Phone Number</h4>
			<div class="row">
				<div class="col-md-12 mb-3">
					<label for="id_phone_number">Phone:</label>
					{{ form.phone_number }}
				</div>
			</div>
			<div class="form-check">
				<input
					class="form-check-input"
					type="checkbox"
					value=""
					id="marketingOffers"
				/>
				<label class="form-check-label" for="marketingOffers">
					Receive important status updates via SMS (recommended).
					We'll never text you marketing offers.
				</label>
			</div>
			<p class="text-muted mt-3">
				By checking the box above, you agree to receive text messages
				related to your transaction and to the Terms of Use and Privacy
				Policy. Reply STOP to opt-out or HELP for help. Message & data
				rates may apply. Message frequency varies.
			</p>
		</div>
		<div class="card p-3 shadow-sm mb-4">
			<h4>Your Address</h4>
			<h6 class="ms-5">Physical Address</h6>
			<p>This is your current home address. If you receive mail at a PO Box or other address, enter your physical address here and add a mailing address below.</p>
			<div class="row">
				<div class="col-md-8 mb-3">
					<label for="id_street_name">Street Adress:</label>
					{{ form.street_name }}
				</div>
				<div class="col-md-4 mb-3">
					<label for="id_street_number">Apt, Unit, Suit, or Building:</label>
					{{ form.street_number }}
				</div>
				<div class="col-md-4 mb-3">
					<label for="id_city">City</label>
					{{ form.city }}
				</div><div class="col-md-4 mb-3">
					<label for="id_state">State</label>
					{{ form.state }}
				</div><div class="col-md-4 mb-3">
					<label for="id_zip_code">Zip Code</label>
					{{ form.zip_code }}
				</div>
			</div>
		</div>
		{% if profile_status != "approved" %}
		<div class="card p-3 shadow-sm mb-4">
			<h4>ID Verification</h4>
			<div class="row">
				<div class="col-md-4 mb-3">
					<label for="id_profile_image">Profile Image:</label>
					<input
						type="file"
						id="id_profile_image"
						name="profile_image"
						onchange="previewImage(event, 'profileImagePreview')"
						class="form-control"
						accept="image/*"
					/>
					<div class="mt-2">
						<img
							id="profileImagePreview"
							src="{% if form.instance.profile_image %}{{ form.instance.profile_image.url }}{% endif %}"
							alt="Profile Image Preview"
							class="img-fluid rounded-3"
							style="max-width: 300px; max-height: 300px"
						/>
					</div>
				</div>

				<div class="col-md-4 mb-3">
					<label for="id_id_card_front">ID Card Front:</label>
					<input
						type="file"
						id="id_id_card_front"
						name="id_card_front"
						accept="image/*"
						onchange="previewImage(event, 'idCardFrontPreview')"
						class="form-control"
					/>
					<div class="mt-2">
						<img
							id="idCardFrontPreview"
							src="{% if form.instance.id_card_front %}{{ form.instance.id_card_front.url }}{% endif %}"
							alt="ID Card Front Preview"
							class="img-fluid rounded-3"
							style="max-width: 300px; max-height: 300px"
						/>
					</div>
				</div>

				<div class="col-md-4 mb-3">
					<label for="id_id_card_back">ID Card Back:</label>
					<input
						type="file"
						id="id_id_card_back"
						name="id_card_back"
						accept="image/*"
						onchange="previewImage(event, 'idCardBackPreview')"
						class="form-control"
					/>
					<div class="mt-2">
						<img
							id="idCardBackPreview"
							src="{% if form.instance.id_card_back %}{{ form.instance.id_card_back.url }}{% endif %}"
							alt="ID Card Back Preview"
							class="img-fluid rounded-3"
							style="max-width: 300px; max-height: 300px"
						/>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		<div class="text-center mt-3">
			<button type="submit" class="btn btn-warning border btn-lg px-5">Save</button>
		</div>
	</form>
	</div>
</section>

<script>
	function previewImage(event, previewId) {
		const file = event.target.files[0];
		if (file) {
			const reader = new FileReader();
			reader.onload = function (e) {
				const previewElement = document.getElementById(previewId);
				previewElement.src = e.target.result;
			};
			reader.readAsDataURL(file);
		}
	}
</script>
{% endblock %}
