{% extends 'base.html' %} {% block title %}Trust | Keysavvy{% endblock %} {% block content %}
<section class="text-white py-3" style="{{header_color}}">
	<div class="container py-5">
		<h1
			class="display-3 mb-3 title text-shadow-none"
			style="font-weight: 400"
		>
			Should you trust KeySavvy?
		</h1>
		<p class="lead mb-4 text-shadow-none">
			Learn why KeySavvy is the safest and most secure way to buy and sell
			private party.
		</p>
	</div>
</section>
<section class="trust">
	<div class="container">
		<p class="my-4">
			You shouldn't trust strangers on the internet, and you shouldn't
			trust a company just because it has a nice-looking website. Here are
			the fact-based, independently-verifiable reasons you can trust
			KeySavvy.
		</p>
		<h4>Protecting buyers and sellers is our only business</h4>
		<p>
			Our mission is to “Reduce fraud, increase convenience, and foster
			trust between vehicle buyers and sellers”. We take it so seriously,
			it's in our Articles of Incorporation -- as a Public Benefit
			Corporation, we are legally required to promote our mission. Our
			only responsibility is to protect the integrity of the transaction
			as an independent third party.
		</p>
		<h4>We have amazing customer reviews</h4>
		<p>
			Our customers love us! Read our reviews on Google, YouTube, Better
			Business Bureau, online forums, marketplaces and Reddit.
		</p>
		<div
			id="testimonial-container"
			class="my-4 row justify-content-center mx-2"
		></div>
		<nav>
			<ul
				id="testimonial-pagination"
				class="pagination justify-content-center"
			></ul>
		</nav>
		<h4>We're a licensed dealership</h4>
		<p>
			KeySavvy is a licensed auto dealer, regulated by the Minnesota
			Department of Public Safety. Our dealer license is #DLR100357. You
			can look up our license on the Minnesota DMV website under Vehicle
			Services -> More Vehicle Services -> View List of Dealers.
			<br />
			Being a licensed dealer means we are backed by a bond held by the
			State of Minnesota. The bond protects our customers if we ever fail
			to deliver a clear title to a buyer or send a payout to a seller. We
			would never allow that to happen, but the bond held by the State of
			Minnesota guarantees our customers are always protected.
		</p>
		<h4>We're Better Business Bureau accredited</h4>
		<p>
			KeySavvy is BBB accredited and verified. We're required to follow
			the BBB's customer service and satisfaction requirements, including
			responding promptly to customers and resolving all customer
			complaints through the BBB. You can view our BBB profile here.
		</p>
		<h4>Leadership team</h4>
		<div class="my-4">
			<div class="profile-card d-flex align-items-center gap-3 mb-4">
				<div class="profile-img">
					<img
						src="/static/images/user1.png"
						class="rounded-circle"
						style="width: 200px"
						alt="Profile Picture"
					/>
				</div>
				<div class="profile-info">
					<h5 class="mb-0">
						Andrew Crowell, CEO
						<a href="#" class="text-primary">
							<i class="bi bi-linkedin linkedin-icon"></i>
						</a>
					</h5>
					<p class="mb-0">
						Andrew is an experienced business leader, startup
						founder, and engineer. His broad range of experience
						spans from software for John Deere engines to leading
						core personalization services at Amazon. He is
						relentlessly focused on creating value for customers and
						meaningful purpose for employees.
					</p>
				</div>
			</div>
			<div class="profile-card d-flex align-items-center gap-3">
				<div class="profile-img">
					<img
						src="/static/images/user2.png"
						class="rounded-circle"
						style="width: 200px"
						alt="Profile Picture"
					/>
				</div>
				<div class="profile-info">
					<h5 class="mb-0">
						Jason Hoetger, CTO
						<a href="#" class="text-primary">
							<i class="bi bi-linkedin linkedin-icon"></i>
						</a>
					</h5>
					<p class="mb-0">
						Jason is an expert in payment systems and fraud
						detection. Before founding KeySavvy, he developed
						anti-fraud technology and infrastructure at large
						marketplaces, including Tred and OfferUp, and outdoor
						retailer REI. His software has supported tens of
						thousands of secure private party transactions.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section
	class="questions-section py-5 text-white"
	style="background-color: #1a5063"
>
	<div class="container">
		<h2 class="fs-1 mb-3">Buy and sell cars worry-free</h2>
		<p class="mb-4">
			KeySavvy makes it safer and easier to buy and sell cars on any
			marketplace.
		</p>
		<a href="" class="btn btn-outline-warning btn-lg">Learn More</a>
	</div>
</section>
{% endblock %}
