{% extends 'base.html' %} {% block title %}Works | Keysavvy{% endblock %} {% block content %}
<section class="text-white py-3" style="{{header_color}}">
	<div class="container py-5">
		<h1
			class="display-3 mb-3 title text-shadow-none"
			style="font-weight: 400"
		>
			How does KeySavvy work?
		</h1>
		<p class="lead mb-4 text-shadow-none">
			The safest way to accept payment for any vehicle on any marketplace.
		</p>
	</div>
</section>
<section class="buy-sell-tabs py-5">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<!-- Tabs -->
				<div class="d-flex justify-content-center mb-4">
					<button
						class="btn bg-light tab-button active"
						data-target="selling-content"
					>
						I'M SELLING
					</button>
					<button
						class="btn bg-light tab-button"
						data-target="buying-content"
					>
						I'M BUYING
					</button>
				</div>

				<!-- Selling Content -->
				<div id="selling-content" class="tab-content">
					<div class="row align-items-center mb-4">
						<div class="col-md-3">
							<div class="step-number mb-2">1</div>
						</div>
						<div class="col-md-9">
							<h5 class="fw-bold">Add your car to KeySavvy</h5>
							<p>
								When you add your car to KeySavvy, we'll give
								you a link that buyers can use to pay you
								online.
							</p>
						</div>
					</div>
					<div
						class="row flex-md-row flex-column-reverse align-items-center mb-4"
					>
						<div class="col-md-9">
							<h5 class="fw-bold">Share your KeySavvy link</h5>
							<p>
								Share your KeySavvy link with your buyer or list
								your car for sale wherever you like. Include
								your link or QR code image in your ad to deter
								scammers.
							</p>
						</div>
						<div class="col-md-3 text-center mb-2">
							<div class="step-number">2</div>
						</div>
					</div>
					<div class="row align-items-center mb-4">
						<div class="col-md-3 mb-2">
							<div class="step-number">3</div>
						</div>
						<div class="col-md-9">
							<h5 class="fw-bold">
								Ask your buyer to pay online
							</h5>
							<p>
								There's no need to handle cash or verify a
								cashier's check. Buyers can use your payment
								link to pay online using their bank account and
								you'll get an email when it's ok to hand over
								the keys.
							</p>
						</div>
					</div>
					<div class="text-center">
						<button class="btn btn-warning">Start Selling</button>
					</div>
				</div>

				<!-- Buying Content -->
				<div id="buying-content" class="tab-content d-none">
					<div class="row align-items-center mb-4">
						<div class="col-md-3 mb-2">
							<div class="step-number">1</div>
						</div>
						<div class="col-md-9">
							<h5 class="fw-bold">Find the perfect car</h5>
							<p>
								Shop on your favorite used car site. You can pay
								any seller on any marketplace and we work in all
								50 states.
							</p>
						</div>
					</div>
					<div class="row align-items-center mb-4">
						<div class="col-md-9">
							<h5 class="fw-bold">
								Tell your seller about KeySavvy
							</h5>
							<p>
								Tell your seller you'd like to pay online and
								ask them to add their vehicle to KeySavvy. We'll
								verify their ownership so you're guaranteed to
								get a clear title, even if they have a loan.
							</p>
						</div>
						<div class="col-md-3 text-center mb-2">
							<div class="step-number">2</div>
						</div>
					</div>
					<div class="row align-items-center mb-4">
						<div class="col-md-3 mb-2">
							<div class="step-number">3</div>
						</div>
						<div class="col-md-9">
							<h5 class="fw-bold">
								Pay online and pick up your car
							</h5>
							<p>
								There's no need to meet at a bank or carry large
								amounts of cash. Pay immediately with ACH or
								send a wire. We'll give you a temporary permit
								so you can drive legally while waiting for the
								title in the mail.
							</p>
						</div>
					</div>
					<div class="text-center">
						<button class="btn btn-warning">Pay a Seller</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="faq pb-5">
	<div class="container">
		<h2 class="text-center mb-4">Frequently Asked Questions</h2>
		<div class="accordion custom-accordion" id="faqAccordion">
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button
						class="accordion-button"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#collapseOne"
						aria-expanded="true"
						aria-controls="collapseOne"
					>
						Accordion Item #1
					</button>
				</h2>
				<div
					id="collapseOne"
					class="accordion-collapse collapse show"
					data-bs-parent="#faqAccordion"
				>
					<div class="accordion-body">
						<strong
							>This is the first item's accordion body.</strong
						>
						It is shown by default, until the collapse plugin adds
						the appropriate classes that we use to style each
						element. These classes control the overall appearance,
						as well as the showing and hiding via CSS transitions.
						You can modify any of this with custom CSS or overriding
						our default variables. It's also worth noting that just
						about any HTML can go within the
						<code>.accordion-body</code>, though the transition does
						limit overflow.
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button
						class="accordion-button collapsed"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#collapseTwo"
						aria-expanded="false"
						aria-controls="collapseTwo"
					>
						Accordion Item #2
					</button>
				</h2>
				<div
					id="collapseTwo"
					class="accordion-collapse collapse"
					data-bs-parent="#faqAccordion"
				>
					<div class="accordion-body">
						<strong
							>This is the second item's accordion body.</strong
						>
						It is hidden by default, until the collapse plugin adds
						the appropriate classes that we use to style each
						element. These classes control the overall appearance,
						as well as the showing and hiding via CSS transitions.
						You can modify any of this with custom CSS or overriding
						our default variables. It's also worth noting that just
						about any HTML can go within the
						<code>.accordion-body</code>, though the transition does
						limit overflow.
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button
						class="accordion-button collapsed"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#collapseThree"
						aria-expanded="false"
						aria-controls="collapseThree"
					>
						Accordion Item #3
					</button>
				</h2>
				<div
					id="collapseThree"
					class="accordion-collapse collapse"
					data-bs-parent="#faqAccordion"
				>
					<div class="accordion-body">
						<strong
							>This is the third item's accordion body.</strong
						>
						It is hidden by default, until the collapse plugin adds
						the appropriate classes that we use to style each
						element. These classes control the overall appearance,
						as well as the showing and hiding via CSS transitions.
						You can modify any of this with custom CSS or overriding
						our default variables. It's also worth noting that just
						about any HTML can go within the
						<code>.accordion-body</code>, though the transition does
						limit overflow.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section
	class="questions-section py-5 text-white"
	style="background-color: #1a5063"
>
	<div class="container">
		<h2 class="fs-1 mb-3">More questions?</h2>
		<p class="mb-4">
			We're happy to answer them. Click the button below to send the team
			a message.
		</p>
		<a href="#" class="btn btn-outline-warning btn-lg">Chat With Us</a>
	</div>
</section>
{% endblock %}
